<div class="container">
    <h4>注文情報登録</h4>
    <%= form_with model:@order, url: orders_confirm_path, local:true do |f| %>
      <div>
        <h6>支払方法</h6>
        <%= f.radio_button :payment_method, :credit_card %>
        <%= f.label :payment_method, 'クレジットカード' %><br>
        <%= f.radio_button :payment_method, :bank_transfer %>
        <%= f.label :payment_method, '銀行振込' %>
      </div>

      <div>
        <h6>お届け先</h6>
        <div>
            <%= f.radio_button :address_option, 0 %>
            <%= f.label :address,'ご自身の住所' %><br>
            <%= @customer.postal_code %><%= @customer.address %><br>
            <%= @customer.last_name %><%= @customer.first_name %>
        </div>
        <div>
          <%= f.radio_button :address_option, 1 %>
          <%= f.label :address, '登録済みの住所から選択' %><br>
          <%= collection_select(:address, :id, @addresses, :id, :full_address, prompt: '選択してください' ) %>
        </div>
        <div>
          <%= f.radio_button :address_option, 2 %>
          <%= f.label :address, '上記以外の住所' %><br>
          <%= f.label :postal_code, '郵便番号ハイフンなし' %><br>
          <%= f.text_field :postal_code %><br>
          <%= f.label :address, '住所' %><br>
          <%= f.text_field :address %><br>
          <%= f.label :name, '宛先' %><br>
          <%= f.text_field :name %>
        </div>
      </div>
      <div>
        <%= f.submit '確認画面へ進む' %>
      </div>
    <% end %>
</div>
<%# 第１引数 :address ＝オブジェクト名（パラメータに入り送る値）第２引数 :id ＝プロパティ(メソッド)名（パラメータに入り、送る値）https://crieit.net/posts/Rails-collection-select(参考url)
				# 				第３引数 current_end_user.addresses ＝オブジェクトの配列 第４引数 :id ＝value属性の項目(配送先住所のid情報を付与するイメージ、これが第2引数のidの値となる)
				# 				第５引数 :address_property ＝テキストの項目 adress.rbで定義済 第６引数 {:include_blank => } ＝オプション 、（例配送先id=2の場合、ターミナルでは"address"=>{"id"=>"2"}と値が入る%>
